*.phpproj
*.sln
*.suo
*.user
*.swp
/nbproject/private/
*.phpproj
*.sln
/nbproject/

#yii
assets/*
web/assets/
!assets/.gitignore
protected/runtime/*
protected/vendor/
!protected/runtime/.gitignore
protected/tests/runtime/*
!protected/tests/runtime/.gitignore

.DS_Store

# phpstorm project files
.idea
.idea/

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings
.idea
/.idea
# windows thumbnail cache
Thumbs.db

# composer vendor dir
tags

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

*.suo
*.phpproj.user

#ignore symbol link
framework/
framework

frontend/
frontend

mobiend/
mobiend
gulp/

/.tags

/.tags_sorted_by_file

# Vagrant files
.vagrant
/web/.htaccess
