/nbproject/private/
/nbproject/
node_modules
node_modules/
.idea/

#build
build.publicaccount.cmd
build.membercenter.cmd
build.mobilecheckroom.cmd
build.tenant.cmd
build.service-online.cmd
build.passport.cmd
build.gamecenter.cmd
build.customerservice.cmd
build.messagecenter.cmd
build.managementcenter.cmd
build.rentalcenter.cmd
build.uicomponent.cmd
