.btn-area { background-color: #F4F5F9; text-align: center; height: 60px;}
.btn-area button { position: relative; top: 13px;}
.art-box-content { padding: 30px;}
.account-info .form-group { margin-bottom: 10px;}