
.process { position: relative;}
.process-state { position: absolute; height: 40px; border: 1px solid #e7e7eb; background: #FFF; line-height: 40px; font-size: 14px; z-index: 10; padding:0 20px; left: 0;}
.process-state div {  overflow: hidden; text-overflow: ellipsis; white-space: nowrap; float: left;}
.process-state .wrap { width: 100%; height: 100%; text-align: center;}
.process-state .wrap .file-info .file-name{ width: 100px;}
.process-state .wrap .file-info .file-size { width: 80px;}
.process-state .wrap .bar-wrap { width: 200px; height: 100%; float: left;}
.process-state .wrap .bar-wrap .bar { height: 6px; background: #5AA1DD; margin: 16px 0; width: 0;}
.process-state .wrap .cancel { float: left; display: block;}

.process-state .process-tips { display: none; padding-right: 24px; background: url(/frontend/images/global/process-white.gif) no-repeat right center;}
.process-state.waiting .wrap { display: none; }
.process-state.waiting .process-tips { display: block; }


.preview-area { padding-top: 10px;}
.preview-area .del { display: inline-block; margin-left: 5px; position: relative; bottom: 2px;}
.empty-video { display: inline-block; height: 160px; width: 267px; background: #d7d8da url(/modules/images/global/video.png) no-repeat center center; }
.empty-video:hover { background: #c5c6c8 url(/modules/images/global/video.png) no-repeat center center; }