.user-info { font-size: 14px;}
.user-info .title { font-size: 36px;}
.user-info .sub-title { color: #666; padding: 0 15px; line-height: 50px;}
.user-info .detail-info { color: #999; min-height: 320px;}

.detail-info {}
.user-info .detail-info>div { line-height:32px;}
.user-info .detail-info>div>div+div { color:#333;}

.form-group-area { padding: 30px 80px 0;}
.form-group-area label { position: relative; top: 7px;}
.btn-area { background: #F4F5F9; padding: 15px 0;}